@font-face {
    font-family: 'CircularStdCustom';
    src: url(../fonts/CircularStd-Black.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'CircularStdCustom';
    src: url(../fonts/CircularStd-Bold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'CircularStdCustom';
    src: url(../fonts/CircularStd-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'CircularStdCustom';
    src: url(../fonts/CircularStd-Book.woff2) format('woff2');
    font-weight: 400;
}